body {
  font-family: "Arial Black", sans-serif;
  width: auto;
  margin-left: 10%;
  margin-right: 10%; }

.likesAndChanges {
  width: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: 150%; }

.addLikeOrChange {
  width: 100%; }
  .addLikeOrChange textarea {
    display: inline-block;
    margin: 20px;
    font-size: 100%; }
  .addLikeOrChange .btn-lg {
    font-size: 150%; }

.likes {
  color: #1e2878; }

.changes {
  color: #78281e; }

ul {
  text-align: left; }

hr {
  border-top: 2px solid #ccc; }

.btn-default {
  position: fixed;
  left: 3%;
  top: 3%; }
