body {
  font-family: "Arial Black", sans-serif;
  width: auto;
  margin-left: 150px;
  margin-right: 150px; }
  @media (max-width: 768px) {
    body {
      margin-left: 100px;
      margin-right: 100px; } }

.likesAndChanges {
  width: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: 150%; }

.addLikeOrChange {
  width: 100%; }
  .addLikeOrChange textarea {
    display: inline-block;
    margin: 20px;
    font-size: 100%; }
  .addLikeOrChange .btn-lg {
    font-size: 150%; }

.likes {
  color: #1e2878; }

.changes {
  color: #78281e; }

.likes, .changes {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */ }

ul {
  text-align: left; }

hr {
  border-top: 2px solid #ccc; }

.btn-default {
  position: fixed;
  left: 3%;
  top: 3%; }
