body {
  font-family: "Arial Black", Gadget, sans-serif;
  width: auto;
  margin-left: 10%;
  margin-right: 10%; }

.likesAndChanges {
  width: 100%;
  text-align: center; }

.addLikeOrChange {
  width: 100%; }

.likes {
  color: #1e2878; }

.changes {
  color: #78281e; }

.addLikeOrChange .btn {
  margin: 20px; }
