$default-font: "Arial Black", sans-serif;
$dark-blue: rgba(30, 40, 120,1.0);
$dark-red: rgba(120, 40, 30,1.0);

body {
  font-family: $default-font;
  width: auto;
  margin-left: 10%;
  margin-right: 10%;
}

.likesAndChanges {
  width: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: 150%;
}

.addLikeOrChange {
  width: 100%;

  textarea {
    font-size: 150%;
  }

  .btn-lg {
    font-size: 150%;
  }
}

.likes {
  color: $dark-blue;
}

.changes {
  color: $dark-red;
}

.addLikeOrChange {
  textarea {
    display: inline-block;
    margin: 20px;
  }
}

ul {
  text-align: left;
}
