$default-font: "Arial Black", Gadget, sans-serif;

body {
  font-family: $default-font;
  width: auto;
  margin-left: 10%;
  margin-right: 10%;
}

.likesAndChanges {
  width: 100%;
  text-align: center;
}

.addLikeOrChange {
  width: 100%;
  border: 2px solid red;
}
